<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CSharp" value="https://pkgs.dev.azure.com/blaise-gcp/csharp/_packaging/CSharp/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="CSharp" value="https://api.nuget.org/v3/index.json" />
    <add key="Nellson Nuget Repo" value="https://pkgs.dev.azure.com/blaise-gcp/csharp/_packaging/CSharp/nuget/v3/index.json" />
  </activePackageSource>
</configuration>